<section class="cv-section">
  
  <!-- About Me Segment -->
  <div class="section-title">
    <h2>Introduction</h2>
    <!-- <span class="jp">自己紹介</span> -->
  </div>
  
  <div class="cv-item">
    <div class="cv-date">Currently</div>
    <div class="cv-content">
      <p>Hi! Welcome to my personal website. I am currently a freshman at the University of Hong Kong. </p>
      <p>My academic interests lie at the intersection of hardware architecture, digital system design, and machine learning systems. 
         In recent years, I have explored areas such as RISC-V-based CPU design, FPGA system prototyping, low-bit quantized neural network accelerators, 
         and hardware-aware machine learning optimization.</p>
      <p>For my future exploration, I am particularly interested in AI/ML system co-design, including how emerging hardware can shape the next generation 
         of ML algorithms, and how system-level optimization can unlock efficiency for real-world AI workloads. I am also currently studying robotics learning / and AI for 
         security. Fields like operating systems, compilers, and ML-specific hardware accelerators are also on my roadmap.</p>
      <p>I am always open to conversations, collaboration opportunities, and creative projects —</p>
      <p> <b>feel free to reach out if you share similar passions!</b><p>
    </div>
  </div>

  <!-- Education Segment -->
  <div class="section-title">
    <h2>Education</h2>
    <!-- <span class="jp">学歴</span> -->
  </div>

  <!-- Example Item 1 -->
  <div class="cv-item">
    <div class="cv-date">2025.9 - Pres.</div>
    <div class="cv-content">
      <h3>The University of Hong Kong</h3>
      <div class="role">Bachelor of Engineering Elite Programme</div>
      <p>The University of Hong Kong Entrance Scholarship</p>
    </div>
  </div>

  <!-- Example Item 2 -->
  <div class="cv-item">
    <div class="cv-date">2024.7</div>
    <div class="cv-content">
      <h3>Carnegie Mellon University</h3>
      <div class="role">Summer Session Student</div>
      <p>Completed two undergraduate courses (15-122 and 21-127). QPA: 4.0/4.0</p>
    </div>
  </div>

  <div class="cv-item">
    <div class="cv-date">2022.9 - 2025.7</div>
    <div class="cv-content">
      <h3>Beijing 101 High School</h3>
      <div class="role">High School Student</div>
      <p>AP & International Baccalaureate Diploma Programme</p>
    </div>
  </div>
  <!-- Experience Segment -->
  <div class="section-title">
    <h2>Experience</h2>
    <!-- <span class="jp">職歴</span> -->
  </div>

  <div class="cv-item">
    <div class="cv-date">2025.12 - Pres</div>
    <div class="cv-content">
      <h3>The University of Hong Kong</h3>
      <div class="role">Research Assistant</div>
    </div>
  </div>

  <!-- Publications / Projects (High Density List) -->
  <div class="section-title">
    <h2>Selected Works</h2>
    <!-- <span class="jp">作品</span> -->
  </div>

  <div class="cv-item">
    <div class="cv-date">2024</div>
    <div class="cv-content">
      <h3>Hardware-Accelerated 1-Bit Quantization Using PyRTL for Efficient Neural Network Design</h3>
      <div class="role">Project Leader</div>
      <p>Designed a 1-bit MAC unit for a Systolic Array with PyRTL, reducing area requirements and critical path length.</p>
    </div>
  </div>

  <div class="cv-item">
    <div class="cv-date">2024</div>
    <div class="cv-content">
      <h3>Yishengyizhen Program by Chinese Academy of Sciences</h3>
      <div class="role">Participant</div>
      <p>Explored computer architecture and systems. Designed circuits with Verilog/Vivado for RV32 instructions and built a simplified RV32I emulator in C.</p>
    </div>
  </div>

  <div class="cv-item">
    <div class="cv-date">2023</div>
    <div class="cv-content">
      <h3>A Comprehensive Analysis of AI Research Topics Using LDA and LDAvis: Insights from arXiv Data</h3>
      <div class="role">Project Leader</div>
      <p>Project under Talent Program, China Association for Science and Technology. Applied LDA and LDAvis to analyze trendings in AI researches using arXiv data.</p>
    </div>
  </div>

  <div class="section-title">
    <h2>More</h2>
    <!-- <span class="jp">職歴</span> -->
  </div>
  <div class="cv-content">
  <p>Outside of academics, I am passionate about photography. I am a contracted contributor at iStock by Getty Images and 500px China. 
    Some of my works have been published on Visual China Group and 500px. I am still develeoping the online gallery part for this website, ensuring image quality and loading speed at the same time
    was not easy. Stay tuned for further updates. </p>
  </div>
</section>